<div class="app">
  <h1>Test task</h1>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select [formControl]="selectedCategory">
      <mat-option value="0">all</mat-option>
      <mat-option
        *ngFor="let category of catsService.categories"
        [value]="category.id"
        >{{ category.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <div *ngIf="errorService.error$ | async as error">
    {{ error }}
    <p>Try refresh</p>
    <button (click)="errorService.clear()">&times;</button>
  </div>

  <p *ngIf="loading" class="text-center text-lg">Loading...</p>

  <div *ngIf="catsService.cats as cats" class="container">
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let cat of cats" class="cat__wrapper">
        <app-cat [cat]="cat"></app-cat>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <mat-paginator
    class="pagination"
    [length]="paginationCount"
    [pageSize]="limit"
    [pageSizeOptions]="counts"
    aria-label="Select page"
    (page)="pageEvent = handlePagination($event)"
  >
  </mat-paginator>
</div>
